nav {
    margin-bottom: 60px;
}


@media (min-width: 992px) {
    .container{
        /*max-width: 768px;*/
        max-width: 992px;
    }
}

h1 {
    font-size: 33px;
}

.radio-group {
    padding-left: 30px !important;
}

.radio-group-reddit {
    padding-top: 10px;
}

form {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e7f6ff;
    border-radius: 10px;
}


/********** FORM **********/

.form-row {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-primary:hover {
    background-color: #ffa50d;
    border-color: #ffa50d;
}
